################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/*
/GUIform/bin/*
/GUIform/obj/*
/GUIformTests/bin/*
/GUIformTests/obj/*